*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: block;
}

h1{
  width: 100%;
  text-align: center;
}

.buttons{
  width: 90vw;
  height: auto;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button{
  width: 30vw;
  text-align: center;
  border: 1px solid black;
}

.container{
  width: 90vw;
  height: 80vh;
  margin-left: 5vw;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #929ED7;
}

.wrapper{
  height: auto;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.offline{
   background: linear-gradient(to right, rgba(255,255,255,0.2),
                #6441A4, #6441A4, #6441A4, #6441A4);/*twitch purple*/
  border-top: 2px solid rgba(255,255,255,0.8);
  border-right: 2px solid rgba(255,255,255,0.8);
}

.online{
  background: linear-gradient(to right, rgba(255,255,255,0.2),
              #F0C350, #F0C350, #F0C350, #F0C350);
  border-top: 2px solid rgba(255,255,255,0.8);
  border-right: 2px solid rgba(255,255,255,0.8);
}

#all{
  background-color: #6470BC;
}
#online{
  background-color: #F0C350;
}
#offline{
  background-color: #6441A4;
}

.channel{
  height: 12vh;
  width: 88vw;
  margin-left: 1vw;
  margin-top: 2vh;
  border-radius: 30px;
  display: grid;
  grid: auto / 50% 50%;
}

.channel p {
  grid-row: 1/2;
  grid-column: 2/3;
  color: #fff;
  text-shadow: -2px 0 rgba(0,0,0,0.5);
  padding: 0;
}

.link{
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100%;
  width: 25vw;
  color: #fff;
  text-decoration: none;
  text-shadow: -2px 0 rgba(0,0,0,0.5);
  display: grid;
  grid: auto / auto auto;
  grid-column-gap: 5vw;
}

.logo{
  grid-row: 1/2;
  grid-column: 1/2;
  height: 10vh;
  width: 10vh;
  margin: 1vh;
  border: 2px solid #fff;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 0 0 2vh 0.5vh rgba(0,0,0,0.5);

}

.link h3{
  grid-row: 1/2;
  grid-column: 2/3;
}
